.contact-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
    font-size: 20px;
    grid-row-gap: 5vh;
}
.contact-info{
    margin: auto 0;
}

.contact-icon{
    /*margin: 0 auto;*/
    margin-left:auto;
    margin-right:2vw;

}

.social-link{

}