.project-card {
    width: 600px;
    height: auto;
    font-size: 0px;
    font-weight: 600;
    display: grid;
    text-align: center;
    background-color: #F1FAEE;
    border-radius: 5%;
    height: auto;
    box-shadow: 15px 15px 5px #e1f3ea;
    transition: font-size 0.2s, color 0.5s 0.2s;
    color: #F1FAEE;
    margin: 2% 2%;
    align-self: flex-start;
    max-width: 80vw;
}

.project-card:hover {
    font-size: 1rem;
    color: #1D3557;
}

.project-image {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.card-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-icon {
    color: #1D3557;
    transition: color 0.2s;
}

.link-icon:hover {
    color: #E63946;
}